<nav>
    <img src="images/logo.png" height="70" />

    <a href="/">Home</a>
    {{#if isHomePage}}
    <a href="#explore-category">Services</a>
    {{else}}
    <a href="/services">Services</a>
    {{/if}}
    <a href="#">Bookings</a>
</nav>