<div class="service-item">
    {{#if imgURL}}
    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
    
    <div class="productContainer">
        <h3 class='nameHolder'>{{ Name }}</h3>
        <p>{{ Price }}</p>
        <i>{{ Duration }}</i>
    </div>

    <div>
        <button class="selectService" value={{Name}}>Select</button>
        <a>read more</a>
    </div>
</div>