<html>

<head>
    <title>LashOut MNL</title>
    <link rel="stylesheet" href="styles/global.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="scripts/home.js"></script>
    <script src="scripts/index.js"></script>
    <link rel="stylesheet" href="styles/page_index.css">
</head>

<body>

    <!-- HERO -->
    <div id="hero">
        {{> nav isHomePage=true }}

        <div id="content">
            <div>
                <p>
                    Lorem ipsum <i>dolor</i> sit amet, <br>
                    consectetur <i>adipiscing</i> elit, <br>
                    integer <u>sodales</u> elit finibus.
                </p>
                
               <a href="/services"> <button>Book Now</button> </a>
            </div>

            <div id="carousel-container">
                <img src="images/carousel1.png" height="500" />
            </div>
        </div>
    </div>

    <!-- EXPLORE BY CATEGORY -->
    <div id="explore-category">
        <h2>Explore by Category</h2>

        <div id="category-services">

            <a href="services#lashes" id="categ1">
                <div class="category-overlay">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed consectetur 
                    ligula. Integer vel augue at nisl interdum auctor id a odio. Suspendisse lacus est, 
                    aliquet ut luctus eget, auctor a nibh.
                </div>

                <img src="images/lashes1.png" />
                <h3>Lashes</h3>
                <i>starts at ₱550.00</i>
            </a>

            <a href="services#lashes-retouch" id="categ2">
                <div class="category-overlay">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed consectetur 
                    ligula. Integer vel augue at nisl interdum auctor id a odio. Suspendisse lacus est, 
                    aliquet ut luctus eget, auctor a nibh.
                </div>

                <img src="images/lashes2.png" />
                <h3>Lashes Retouch</h3>
                <i>starts at ₱500.00</i>
            </a>

            <a href="services#nails" id="categ3">
                <div class="category-overlay">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed consectetur 
                    ligula. Integer vel augue at nisl interdum auctor id a odio. Suspendisse lacus est, 
                    aliquet ut luctus eget, auctor a nibh.
                </div>

                <img src="images/nails1.png" />
                <h3>Nails</h3>
                <i>starts at ₱150.00</i>
            </a>

            <a href="services#brows" id="categ4">
                <div class="category-overlay">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed consectetur 
                    ligula. Integer vel augue at nisl interdum auctor id a odio. Suspendisse lacus est, 
                    aliquet ut luctus eget, auctor a nibh.
                </div>

                <img src="images/brows1.png" />
                <h3>Brows</h3>
                <i>starts at ₱4,000.00</i>
            </a>

            <a href="services#brows-retouch" id="categ5">
                <div class="category-overlay">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed consectetur 
                    ligula. Integer vel augue at nisl interdum auctor id a odio. Suspendisse lacus est, 
                    aliquet ut luctus eget, auctor a nibh.
                </div>

                <img src="images/brows2.png" />
                <h3>Brows Retouch</h3>
                <i>starts at ₱1,500.00</i>
            </a>

        </div>

    </div>

    <!-- APPOINTMENT RULES -->
    <div id="appointment">
        <img src="images/appointment.png" style="object-fit: contain;" />
    </div>

    <!-- PROTOCOLS & POLICIES -->
    <div id="protocols">
        <img src="images/protocols.png" />
    </div>

    <!-- LOCATION -->
    <div id="location">
        <img src="images/location.png" />
    </div>

    <!-- FOOTER -->
    <footer>
        <img src="images/footer_quote.png"/>

        <div>
            <a href="#">Location</a>
            <a href="#">Book an Appointment</a>
            <a href="#">Terms & Conditions</a>

            <a href="https://www.instagram.com/lashout.mnl/" id="icon-ig">
                <img src="images/icons_instagram.png" />
                LashOut.MNL
            </a>
        </div>
    </footer>

</body>

</html>