<html>

<head>
    <title>LashOut MNL</title>
    <link rel="stylesheet" href="styles/global.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="scripts/home.js"></script>
    <link rel="stylesheet" href="styles/page_services.css">
</head>

<body>
    {{> nav }}

    <div id="services-container">

        <h1>Services</h1>
            <div class="category-container" id="lashes">
                <h2>Lashes</h2>
                {{#each serviceItem}}
                    {{#ifCategory Category "Lashes"}}
                        {{> serviceItem}}
                    {{/ifCategory}}
                {{/each}}
        {{!--
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Classic Full Set</h3>
                        <p>₱800.00</p>
                        <i>2 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
        
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Hybrid Lashes</h3>
                        <p>₱1,200.00</p>
                        <i>2 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Wet Mascara Set</h3>
                        <p>₱1,300.00</p>
                        <i>2 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Volume Lashes</h3>
                        <p>₱1,400.00</p>
                        <i>2 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
        
            </div>
        --}}        
            <div class="category-container" id="lashes-retouch">
                <h2>Lashes Retouch</h2>
                {{#each serviceItem}}
                    {{#ifCategory Category "Lashes Retouch"}}
                        {{> serviceItem}}
                    {{/ifCategory}}
                {{/each}}
        {{!--
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Classic Full Set Retouch</h3>
                        <p>₱500.00</p>
                        <i>1 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Hybrid Lashes Retouch</h3>
                        <p>₱600.00</p>
                        <i>1 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Wet Mascara Set Retouch</h3>
                        <p>₱680.00</p>
                        <i>1 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Volume Lashes Retouch</h3>
                        <p>₱700.00</p>
                        <i>2 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
        
            </div>
        --}}        
            <div class="category-container" id="brows">
                <h2>Brows</h2>
                {{#each serviceItem}}
                    {{#ifCategory Category "Brows"}}
                        {{> serviceItem}}
                    {{/ifCategory}}
                {{/each}}
        {{!--
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Microblading</h3>
                        <p>₱4,000.00</p>
                        <i>3 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>PhiShading</h3>
                        <p>₱5,000.00</p>
                        <i>3 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            --}}
            </div>
                    
            <div class="category-container" id="brows-retouch">
                <h2>Brows Retouch</h2>
                {{#each serviceItem}}
                    {{#ifCategory Category "Lashes Retouch"}}
                        {{> serviceItem}}
                    {{/ifCategory}}
                {{/each}}
        {{!--
                    <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Brows Retouch (45 days healed)</h3>
                        <p></p>
                        <i>1 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Brows Retouch (> 45 days healed)</h3>
                        <p>₱1,500.00</p>
                        <i>1 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            --}} 
            </div>
               
            <div class="category-container" id="nails">
                <h2>Nails</h2>
                {{#each serviceItem}}
                    {{#ifCategory Category "Lashes Retouch"}}
                        {{> serviceItem}}
                    {{/ifCategory}}
                {{/each}}
        {{!--
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Regular Manicure</h3>
                        <p>₱150.00</p>
                        <i>30 min</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Regular Pedicure</h3>
                        <p>₱200.00</p>
                        <i>30 min</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Regular Manicure-Pedicure Set</h3>
                        <p>₱300.00</p>
                        <i>1 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Gel Manicure</h3>
                        <p>₱450.00</p>
                        <i>40 min</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Gel Pedicure</h3>
                        <p>₱500.00</p>
                        <i>40 min</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Gel Manicure-Pedicure Set</h3>
                        <p>₱800.00</p>
                        <i>1.5 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Hard Gel Manicure</h3>
                        <p>₱600.00</p>
                        <i>2 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Hard Gel Manicure with Nail Polish</h3>
                        <p>₱750.00</p>
                        <i>2 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Nail Extensions (Soft Gel, Polygel, Hardgel)</h3>
                        <p>₱1,200.00</p>
                        <i>3 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Regular Manicure - Gel Pedicure</h3>
                        <p>₱600.00</p>
                        <i>1 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Gel Manicure and Regular Pedicure</h3>
                        <p>₱600.00</p>
                        <i>1 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Hard Gel Manicure and Gel Pedicure</h3>
                        <p>₱1,050.00</p>
                        <i>1 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Hard Gel Manicure with Nail Polish and Regular Pedicure</h3>
                        <p>₱900.00</p>
                        <i>1 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Hard Gel Manicure with Nail Polish and Gel Pedicure</h3>
                        <p>₱1,200.00</p>
                        <i>1 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Polygel Nail Extensions and Gel Pedicure</h3>
                        <p>₱1,500.00</p>
                        <i>3 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            
                <div class="service-item">
                    <img src="https://via.placeholder.com/110x110/fdf8f4/f6d7bb?text=LashOut" />
                    <div>
                        <h3>Polygel Nail Extensions and Regular Pedicure</h3>
                        <p>₱1,350.00</p>
                        <i>3 hr</i>
                    </div>
                    <div>
                        <button>Select</button>
                        <a>read more</a>
                    </div>
                </div>
            --}}
            </div>    
    </div>
</body>

</html>