.view-fullscreen {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.view-fullwidth {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    flex: 1;
}

.center-row {
    justify-content: center;
}

.center-column {
    align-items: center;
}

.view-padding {
    padding: 80px 50px;
}