h1 {
    font-family: 'Lora';
    font-weight: 700;
    font-size: 64px;
}

h2 {
    font-family: 'Lora';
    font-weight: 700;
    font-size: 36px;
}

.heading-medium {
    font-family: 'Lora';
    font-weight: 300;
    font-size: 36px;
}

.heading-small {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 32px;
}

.body-large {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 24px;
}

.body-medium {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
}

.body-small {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 15x;
}

.label-small {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.text-uppercase {
    text-transform: uppercase;
}